{% extends 'base.html.twig' %}

{#% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %#}

{% block body %}
    <h1>Change Password</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <br/>
    <br/>
    <a class="btn btn-success" href="{{ path('users_index') }}">Back to the list</a>
{% endblock %}
